<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectionString"
            connectionString="DATA SOURCE=csoracle.cegep-heritage.qc.ca;PASSWORD=TEAMIRONMAN;PERSIST SECURITY INFO=True;USER ID=TEAMIRONMAN"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
</configuration>